*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Chess-Body{
    border: 1px solid black;
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Chess-box{
    border: 1px solid black;
    height: 515px;
    width: 517px;
    padding: 0px;
    margin: 0;
    overflow: hidden;
    display: flex;
}
button{
    padding: 15px 25px;
    margin: 2rem;
}
.Chess-add{
    display: flex;
    justify-content: center;
}
.white{
    background-color: whitesmoke;
}
.black{
    background-color: black;
}
.divAdd{
    margin: 1px;
    width: 62.5px;
    height: 62.5px;
    background-color: aquamarine;
}
.white-square{
    background-color: whitesmoke;
}
.black-square{
    background-color: black;
}
